.loader-wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    /* Header height (80px) */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
}

.loader-logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    animation: zoomPulse 1.5s ease-in-out infinite;
}

@keyframes zoomPulse {
    0% {
        transform: scale(0.8);
        opacity: 0.7;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.7;
    }
}